<td-layout #layout>
  <td-navigation-drawer logo="assets:logo" [sidenavTitle]="'TITLE' | translate" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a mat-list-item [routerLink]="[item.route]" (click)="layout.close()"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </ng-template>
    </mat-nav-list>
    <mat-nav-list td-navigation-drawer-menu>
      <a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Sign out</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <router-outlet></router-outlet>
</td-layout>
